@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#about-body {
  @include section-two-grid;
}

#about-left {
  max-width: 65ch;
}

#about-right {
  position: relative;
  min-width: 0;
  max-width: min(300px, 50vw);
}
