@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $about-vert-gap $about-horz-gap;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#about-left {
  max-width: 65ch;
}

#about-right {
  position: relative;
  min-width: 0;
  max-width: min(250px, 50vw);
  > img {
    border-radius: $border-radius;
  }
}
