@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#experience-body-grid {
  border-top: $line;
  @include section-two-grid(auto-fill);
}

#experience-ul {
  grid-column: -2;
  width: 100%;
  list-style: none;
}

.experience-li {
  padding: $experience-li-vert-space $section-li-horz-space;
  border-bottom: $line;
  overflow: hidden;
}

.experience-li-div {
  display: grid;
  grid-template: 1fr / minmax(min(15%, 80px), 3fr) minmax(min(85%, 200px), 17fr);
  gap: 15px; //todo

  @include slide-up;
  transition: $slide-up-transition;
}

.experience-li-img {
  display: block;
  place-self: stretch;
  grid-column: 1;
  object-fit: contain;
}

.experience-li-inner-div {
  place-self: center start;
  grid-column: 2;
}
