@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#navbar {
  position: sticky;
  z-index: 100000;
  top: 0;

  background-color: $background-color;
  border-bottom: $line;

  padding: $navbar-vert-space $navbar-horz-space;

  @include section-two-grid(auto-fill);
}

#navbar-right {
  grid-column: -2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  user-select: none;
  z-index: 100001;

  padding: $navbar-item-padding;
  margin-right: $navbar-inner-horz-space;
  &:last-child {
    margin-right: 0;
  }

  font-family: $navbar-item-font-family;
  font-size: $navbar-item-font-size;
  line-height: $navbar-item-line-height;
  &.active {
    font-weight: $navbar-item-active-font-weight;
    color: $navbar-item-active-color;
  }
  &.inactive {
    font-weight: $navbar-item-inactive-font-weight;
    color: $navbar-item-inactive-color;
  }
}
