@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#projects-ul {
  list-style: none;
  border-top: $line;
}

.projects-li {
  border-bottom: $line;
}

.projects-li-button {
  width: 100%;
  padding: $projects-li-vert-space $projects-li-horz-space;
  overflow: hidden;

  > span {
    display: inline-block;

    font-family: $projects-button-font-family;
    font-size: $projects-button-font-size;
    font-weight: $projects-button-font-weight;
    color: $projects-button-font-color;

    line-height: $projects-button-line-height;

    // Highlight
    @include highlight-base($projects-button-highlight-color);

    // Slide up
    @include slide-up();
    transition: $slide-up-transition, $highlight-base-transition;
  }

  &:hover > span,
  &:focus > span {
    color: $projects-button-highlight-font-color;

    // Highlight
    @include highlight-hover();
  }
}

.projects-li-div {
  height: auto;
  width: 100%;
  overflow: hidden;

  &.collapsed {
    height: 0;
  }

  > div {
    width: 100%;
    padding: 25px $side-padding;

    color: var(--text-color); // obviously temporary
    background-color: $projects-div-background-color; // obviously temporary
  }
}
