@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#projects-ul {
  list-style: none;
}

.projects-li {
  scroll-margin-top: $effective-navbar-height;
  border-bottom: $line;
}

.projects-li-button {
  width: 100%;
  padding: $projects-li-vert-space $projects-li-horz-space;
  overflow: hidden;

  > span {
    display: inline-block;

    font-family: $projects-button-font-family;
    font-size: $projects-button-font-size;
    font-weight: $projects-button-font-weight;
    color: $projects-button-font-color;

    line-height: $projects-button-line-height;

    // Highlight
    @include highlight-base($projects-button-highlight-color);

    // Slide up
    @include slide-up();
    transition: $slide-up-transition, $highlight-base-transition;
  }

  &:hover > span,
  &:focus > span {
    color: $projects-button-highlight-font-color;

    // Highlight
    @include highlight-hover();
  }
}

.projects-li-content {
  position: relative;
  height: var(--current-height);
  width: 100%;
  overflow: hidden;
  transition: height $projects-li-height-transition-duration cubic-bezier(0.6, 0.05, 0.4, 0.95);

  &.collapsed {
    height: 0;
  }
}

.projects-li-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $about-vert-gap $about-horz-gap;

  width: 100%;
  padding: $about-vert-gap $side-padding calc(2 * $about-vert-gap);

  background-color: $projects-div-background-color;

  &.even {
    flex-direction: row-reverse;
  }
  &.odd {
    flex-direction: row;
  }
  flex-wrap: wrap;
}

.projects-img-container {
  position: relative;
  min-width: 0;
  max-width: min(600px, 100vw);
}

.projects-text {
  color: var(--text-color);

  min-width: min(100%, 65ch);
  max-width: 65ch;
}
