@use 'sass:math';
@import '../common.scss';

$star-colors: #ffffff, #f0e5bb, #fcedb3, #fabb93, #d16a45, #cf5a4a, #5992e3, #c7deff, #f0bbde;
$anim-star-duration: 7.5s;
$anim-star-num-frames: 10;

#stars-div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;

  #stars-svg {
    position: absolute;
    inset: 0;
  }
}

.star-rect {
  animation-duration: $anim-star-duration;
  animation-iteration-count: infinite;
  transform-origin: center;
}
@each $color in $star-colors {
  $color-string: str-slice(#{$color}, -6);
  .fill-#{$color-string} {
    fill: $color;
  }
}

.core {
  opacity: 1;
  animation-name: coreKeyframes;
  -webkit-animation-name: coreKeyframes;
}
.splash {
  opacity: 1;
  animation-name: splashKeyframes;
  -webkit-animation-name: splashKeyframes;
}
@for $i from 0 through ($anim-star-num-frames - 1) {
  .frame-#{$i} {
    animation-delay: math.div($anim-star-duration * -($anim-star-num-frames - $i), $anim-star-num-frames);
  }
}
@keyframes coreKeyframes {
  0%,
  80% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
  }
}
@keyframes splashKeyframes {
  0%,
  10% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
  }
}
