@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#about-section {
  width: 100%;

  padding: $inter-section-gap $side-padding;

  @include section-two-grid;
}

#about-left {
  padding: 0 $side-padding-0-1;
  max-width: 70ch;
}

#about-right {
  position: relative;
  min-width: 0;
  max-width: min(400px, 75vw);
  padding: 25px; // todo
}
