@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

#about-section {
  width: 100%;

  padding: 50px $side-padding;

  @include section-two-grid;
}

#about-left {
  max-width: 60ch;
}

#about-right {
  position: relative;
  min-width: 0;
  max-width: min(400px, 60vw);
}
