@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

$banner-left-font-family: $munro-small;
$banner-left-font-size: linear(30, 50);
$banner-left-font-weight: normal;
$banner-left-font-color: $light;
$banner-left-line-height: 1;

#banner-section {
  position: relative; // Required to create a stacking context
  z-index: 1; // Required to create a stacking context

  height: max(75%, 400px);
  width: 100%;

  display: grid;
  grid-template: minmax(0, 1fr) / minmax(0, 1fr) minmax(0, 1fr);
  gap: $inner-section-grid-gap;

  background-color: $blue; // Temporary
}

#banner-left {
  place-self: end start;
  padding: $banner-vert-space 0 $banner-vert-space $banner-horz-space;
  grid-row: 1;
  grid-column: 1;

  > h2 {
    font-family: $banner-left-font-family;
    font-size: $banner-left-font-size;
    font-weight: $banner-left-font-weight;
    color: $banner-left-font-color;
    line-height: $banner-left-line-height;

    // Some magic numbers to shift munro-small's baseline down
    position: relative;
    bottom: calc($banner-left-font-size * math.div(-6, 40));
  }
}

#banner-right {
  place-self: stretch;
  padding: $banner-vert-space $banner-horz-space $banner-vert-space 0;
  grid-row: 1;
  grid-column: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > img {
    height: 100%;
  }
}

#banner-background {
  position: absolute;
  z-index: -1;
  inset: 0;

  background: linear-gradient($dark-light, color.change($dark-light, $lightness: 10%)); // Temporary
}
