@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

$navbar-vert-space: 0.375rem;
$navbar-horz-space: $side-padding;
$navbar-inner-horz-space: 0.375rem;
$navbar-line-border-bottom: 1px solid $dark-light;

$navbar-item-font-family: $inconsolata;
$navbar-item-font-size: 1.25rem;
$navbar-item-line-height: 1;
$navbar-item-active-font-weight: 550;
$navbar-item-inactive-font-weight: 300;
$navbar-item-active-color: $dark;
$navbar-item-inactive-color: color.mix($dark, $background-color, 50%);
$navbar-item-vert-padding: 0.5rem;
$navbar-item-horz-padding: 0.5rem;
$navbar-item-padding: $navbar-item-vert-padding $navbar-item-horz-padding;

// $section-header-scroll-margin-top: 2 * ($navbar-vert-space + $navbar-item-vert-padding) +
//   $navbar-item-line-height + $central-axis-vert-space;
// $section-content-scroll-margin-top: calc(
//   $section-vert-space + 2 * ($navbar-vert-space + $navbar-item-vert-padding) + $navbar-item-line-height
// );

#navbar {
  position: sticky;
  z-index: 100000;
  top: 0;

  background-color: $background-color;
  border-bottom: $navbar-line-border-bottom;

  padding: $navbar-vert-space $navbar-horz-space;

  @include section-two-grid(auto-fill);
}

#navbar-right {
  grid-column: -2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  user-select: none;
  z-index: 100001;

  padding: $navbar-item-padding;
  margin-right: $navbar-inner-horz-space;
  &:last-child {
    margin-right: 0;
  }

  font-family: $navbar-item-font-family;
  font-size: $navbar-item-font-size;
  line-height: $navbar-item-line-height;
  &.active {
    font-weight: $navbar-item-active-font-weight;
    color: $navbar-item-active-color;
  }
  &.inactive {
    font-weight: $navbar-item-inactive-font-weight;
    color: $navbar-item-inactive-color;
  }
}
