@use 'sass:color';
@import '../common.scss';

@mixin animated-anchor($delay) {
  display: inline;

  color: $link-font-color;
  text-underline-offset: 0.125rem;
  text-decoration: underline;
  text-decoration-color: $link-font-color;

  overflow-x: hidden;
  vertical-align: top;

  &:visited {
    color: $link-visited-font-color;
    text-decoration-color: $link-visited-font-color;
  }

  // Highlight
  @include highlight-base($link-highlight-color);
  transition: $highlight-base-transition;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    color: $link-highlight-font-color;

    // Highlight
    @include highlight-hover();
  }
}

p a {
  @include animated-anchor($delay);
  font-weight: $link-font-weight;
}
strong a a strong {
  font-weight: $link-bold-font-weight;
}
