@use 'sass:color';
@import '../common.scss';

@mixin animated-anchor() {
  display: inline;
  font-weight: $link-font-weight;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  overflow-x: hidden;
  vertical-align: top;

  color: $link-font-color;
  > strong {
    color: $link-font-color !important;
  }
  text-decoration-color: $link-font-color;

  &:visited {
    color: $link-visited-font-color;
    > strong {
      color: $link-visited-font-color !important;
    }
    text-decoration-color: $link-visited-font-color;
  }

  // Highlight
  @include highlight-base($link-highlight-color);
  transition: $highlight-base-transition;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    color: $link-highlight-font-color;

    // Highlight
    @include highlight-hover();
  }
}

p a,
blockquote a {
  @include animated-anchor();
}
