@use 'sass:color';
@use 'sass:math';
@import '../common.scss';

$planetarium-normal-delay: 0.1s;
$planetarium-hover-delay: 0.2s;
$planetarium-active-delay: 0.05s;
$fade-ease-out: cubic-bezier(0.1, 0.5, 0.35, 1);

#planetarium-full-window {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  background-color: $banner-background-color;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;

    > #planetarium-container {
      transform: scale(1.06);
      transition: transform $planetarium-hover-delay $fade-ease-out;
    }
  }

  &.active,
  &:active {
    outline: none;

    > #planetarium-container {
      transform: scale(1.02);
      transition: transform $planetarium-active-delay $fade-ease-out;
    }
  }
}

#planetarium-container {
  z-index: 1;
  height: min(100%, 600px);
  width: min(100%, 900px);

  pointer-events: none;

  transform: scale(1);
  transition: transform $planetarium-normal-delay $fade-ease-out;
}

#planetarium {
  position: absolute;
  inset: 0;

  pointer-events: none;
}
