@import './common.scss';

* {
  -webkit-font-smoothing: subpixel-antialiased;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body,
#root,
.App {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
}
