@import './common.scss';

* {
  -webkit-font-smoothing: subpixel-antialiased;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: $background-color;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}
