@import './common.scss';

// ================== SOME NORMALIZATION

* {
  -webkit-font-smoothing: subpixel-antialiased;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 0;
  max-width: 100%;
}

button {
  display: block;
  text-align: left;
  color: inherit;
  font-family: inherit;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// ================== MAIN STUFF

html,
body {
  background-color: $background-color;
}

body {
  height: 100vh;
  width: 100vw;
  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

#root,
#scroll-container {
  position: absolute;
  inset: 0;
}

#scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  > div {
    &.allow-animation {
      @include fade-in(4);
    }
    display: grid;
    grid-template-columns: 1fr;
    place-items: start stretch;

    > #navbar,
    #about {
      grid-row: 1;
      grid-column: 1;
    }
    > #experience {
      grid-row: 2;
      grid-column: 1;
    }
    > #projects {
      grid-row: 3;
      grid-column: 1;
    }
  }
}
