@use 'sass:color';
@use 'sass:math';

$background-color: rgb(34, 39, 55);
$hero-text-color: white;

$star-colors: 'ffffff', 'f0e5bb', 'fcedb3', 'fabb93', 'd16a45', 'cf5a4a', '5992e3', 'c7deff', 'f0bbde';
$anim-star-duration: 7.5s;
$anim-star-num-frames: 10;
