@use 'sass:color';
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;200;300;335;350;400;425;450;475;500;550;570;600;650;675;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

$smaller-b: 480;
$larger-b: 800;
$smaller-breakpoint: $smaller-b * 1px;
$larger-breakpoint: $larger-b * 1px;

@function _linear($x1, $y1, $x2, $y2) {
  $gradient: math.div($y2 - $y1, $x2 - $x1);
  $offset: $y2 - $x2 * $gradient;
  @if $y1 < $y2 {
    @return clamp($y1 * 1px, $gradient * 100vw + $offset * 1px, $y2 * 1px);
  } @else {
    @return clamp($y2 * 1px, $gradient * 100vw + $offset * 1px, $y1 * 1px);
  }
}
@function linear($y1, $y2) {
  @return _linear($smaller-b, $y1, $larger-b, $y2);
}

// ================== PRIMARY PALETTE

$dark-light: #2b2b2b;
$dark: #1f1f1f;
$dark-dark: #121212;
$black: #000000;

$white: #ffffff;
$light-light: hsl(28, 100%, 97%);
$light: hsl(30, 100%, 92%);
$light-dark: hsl(33, 100%, 86%);

$blue: #81a4cd;
$brown: #9e643c;

$green: #005c3a;
$green-dark: #005c3a;

// ================== COLORS

$background-color: $light;

$temporary: color.change($brown, $alpha: 0);

$side-padding: linear(15, 25);

// ================== FONTS

$inconsolata: 'Inconsolata', monospace;
$outfit: 'Outfit', sans-serif;
$munro: 'Munro', monospace;
$munro-narrow: 'Munro Narrow', monospace;
$munro-small: 'Munro Small', monospace;

@font-face {
  font-family: 'Munro';
  src: local('Munro'), url(../assets/munro-font/Munro.ttf) format('truetype');
}
@font-face {
  font-family: 'Munro Narrow';
  src: local('Munro Narrow'), url(../assets/munro-font/MunroNarrow.ttf) format('truetype');
}
@font-face {
  font-family: 'Munro Small';
  src: local('Munro Small'), url(../assets/munro-font/MunroSmall.ttf) format('truetype');
}

// $star-colors: #ffffff, #f0e5bb, #fcedb3, #fabb93, #d16a45, #cf5a4a, #5992e3, #c7deff, #f0bbde;
// $anim-star-duration: 7.5s;
// $anim-star-num-frames: 10;
