@import './common.scss';

#letters-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  display: grid;

  #letters-svg {
    pointer-events: auto;
    cursor: pointer;

    place-self: start center;
    transform: translateY(-50%) translateY(calc(var(--viewport-height) / 2));

    .letter-rect {
      transform-origin: center;
    }
  }

  #letters-svg.before {
    .letter-rect {
      fill: var(--letter-rect-fill);
      transform: var(--letter-rect-transform);
    }
  }

  #letters-svg.during,
  #letters-svg.after {
    .letter-rect {
      transition: var(--letter-rect-transition);
      @media (prefers-reduced-motion) {
        transition-duration: 0;
      }

      transition-property: fill, transform; // must come after transition property to override "all", which is costly
      fill: $hero-text-color;
      transform: translate(0) scale(1);
    }
  }

  #letters-svg.after {
    transition: var(--svg-transition);

    transition-property: transform, background-color;
    transform: translateY(45px);
    background-color: $background-color;
  }
}
