@import './common.scss';

#letters-div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;

  #letters-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .letter-rect {
      transform-origin: center;
    }
  }

  #letters-svg.before {
    pointer-events: auto;
    cursor: pointer;

    .letter-rect {
      fill: var(--letter-rect-fill);
      transform: var(--letter-rect-transform);
    }
  }

  #letters-svg.during,
  #letters-svg.after {
    .letter-rect {
      transition: var(--letter-rect-transition);
      @media (prefers-reduced-motion) {
        transition-duration: 0;
      }

      transition-property: fill, transform; // must come after transition property to override "all", which is costly
      fill: $hero-text-color;
      transform: translate(0) scale(1);
    }
  }

  #letters-svg.after {
    transition: var(--svg-transition);

    transition-property: top, transform, background-color;
    top: 0;
    transform: translate(-50%, 30px);
    background-color: $background-color;
  }
}
