g.word-group {
  .pixel {
    transition: var(--duration) cubic-bezier(0.55, 0, 0.45, 1);
    @media (prefers-reduced-motion) {
      transition-duration: 0s;
    }
    transition-property: fill transform;

    fill: var(--pixel-fill-from);
    transform: var(--pixel-transform-from);
  }

  &.text {
    .pixel {
      fill: var(--pixel-fill-to);
      transform: var(--pixel-transform-to);
    }
  }
}
