@use 'sass:math';
@import './common.scss';

#stars-div {
  position: absolute;
  inset: 0;
  overflow: hidden;

  pointer-events: none;

  #stars-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.star-rect {
  animation-duration: $anim-star-duration;
  animation-iteration-count: infinite;
}
@each $color in $star-colors {
  .fill-#{str-slice($color, 1)} {
    fill: #{'#' + $color};
  }
}

.core {
  animation-name: coreKeyframes;
}
.splash {
  animation-name: splashKeyframes;
}
@for $i from 0 through ($anim-star-num-frames - 1) {
  .frame-#{$i} {
    animation-delay: math.div($anim-star-duration * -($anim-star-num-frames - $i), $anim-star-num-frames);
  }
}
@keyframes coreKeyframes {
  0%,
  79.9999999999% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}
@keyframes splashKeyframes {
  0%,
  9.9999999999% {
    opacity: 1;
  }
  10%,
  100% {
    opacity: 0;
  }
}
