@use 'sass:math';

$duration: 7.5s;
$num-frames: 10;
$colors: 'ffffff', 'f0e5bb', 'fcedb3', 'fabb93', 'd16a45', 'cf5a4a', '5992e3', 'c7deff', 'f0bbde';

#stars-div {
  position: fixed;
  inset: 0;
  display: grid;
}
#stars-svg {
  place-self: center;
}

.star-rect {
  animation-duration: $duration;
  animation-iteration-count: infinite;
}
@each $color in $colors {
  .fill-#{str-slice($color, 1)} {
    fill: #{'#' + $color};
  }
}

.core {
  animation-name: coreKeyframes;
}
.splash {
  animation-name: splashKeyframes;
}
@for $i from 0 through ($num-frames - 1) {
  .frame-#{$i} {
    animation-delay: math.div($duration * -($num-frames - $i), $num-frames);
  }
}
@keyframes coreKeyframes {
  0%,
  79.9999999999% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}
@keyframes splashKeyframes {
  0%,
  9.9999999999% {
    opacity: 1;
  }
  10%,
  100% {
    opacity: 0;
  }
}
