@use 'sass:color';

$hero-text-color: hsl(28, 31%, 87%);

#ZackCheng {
  position: absolute;
  inset: 0;
  display: grid;
}

#ZackCheng-svg {
  // background-color: rgba(0, 0, 0, 0.5);
  place-self: start center;
  transform: translateY(-50%) translateY(calc(var(--viewport-height) / 2));

  .pixel {
    transform-origin: center;
  }

  &.stars {
    .pixel {
      fill: var(--pix-fill);
      transform: var(--pix-transform);
    }
  }

  &.coalesce,
  &.text {
    .pixel {
      transition: var(--pix-transition);
      @media (prefers-reduced-motion) {
        transition: var(--pix-transition-reduced-motion);
      }

      transition-property: fill, transform; // must come after transition property to override "all", which is costly
      fill: $hero-text-color;
      transform: translate(0) scale(1);
    }
  }

  &.text {
    transition: var(--svg-transition);
    transition-property: transform;
    transform: translateY(3rem);
  }
}
