@use 'sass:color';

$hero-text-color: hsl(28, 31%, 87%);

#ZackCheng {
  position: absolute;
  inset: 0;
  display: grid;
}

#ZackCheng-svg {
  // background-color: rgba(0, 0, 0, 0.5);
  place-self: start center;
  transform: translateY(-50%) translateY(50vh);

  .pixel {
    transform-origin: center;
  }

  &.stars {
    .pixel {
      fill: var(--fill);
      transform: var(--transform);
    }
  }

  &.coalesce,
  &.text {
    .pixel {
      transition: var(--transition);
      @media (prefers-reduced-motion) {
        transition: var(--transition-reduced-motion);
      }
      transition-property: fill, transform; // must come after transition property to override "all", which is costly

      fill: $hero-text-color;
      transform: translate(0) scale(1);
    }
  }

  &.text {
    transition: var(--transition);
    transform: translateY(1rem);
  }
}
